<ion-content padding>
  <ion-header no-border>
    <ion-navbar transparent>
    </ion-navbar>
  </ion-header>
  <ion-icon name="lock" class="lock-icon"></ion-icon>
  <div padding>
    <form [formGroup]="form" (ngSubmit)="signInWithEmail()" *ngIf="!emailSent">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <button ion-button block outline color="primary" class="password-recover-button" 
        type="submit" [disabled]="!form.valid"
      >
        Enviar email
      </button>
    </form>
    <p ion-text class="email-soon" *ngIf="emailSent">Em breve você receberá um email para resetar a sua nova senha.</p>
    <p ion-text color="danger" *ngIf="hasError">{{errorMessage}}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="navigatePop()">
      <span>Já tem uma conta? <strong>Faça login</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>
